.container {
    width: $mobile;
    margin: 0 auto;
    margin-top: 110px;
    padding: 0 10px 0 10px;
    @media screen and (min-width: $tab) {
      width: $tab;
    }
  
    @media screen and (min-width: $desk) {
      width: $desk;
    }
  }